
<div class="wrap">
    <h1>Lista de Candidatos</h1>
    <div class="buscador form-group">
        <input class="form-control" type="text" ng-model="$ctrl.busqueda" ng-change="$ctrl.actualizarArray()" placeholder="Buscar">
    </div>
    <div class="container">
        <div class="row cabecera" ng-init="orderByPropiedad=''">
            <div class="col-xs-2 col-sm-2 col-md-2" ng-init="orderReverse='false'" ng-click="orderByPropiedad='nombre';orderReverse = !orderReverse">Nombre<span class="glyphicon" ng-class="orderByPropiedad != 'nombre' ? 'glyphicon-sort' : (orderReverse ? 'glyphicon-sort-by-attributes' : 'glyphicon-sort-by-attributes-alt')"></span></div>
            <div class="col-xs-2 col-sm-2 col-md-2" ng-click="orderByPropiedad='provincia'">Provincia<span class="glyphicon glyphicon-sort"></span></div>
            <div class="col-xs-2 col-sm-2 col-md-2" ng-click="orderByPropiedad='perfil'">Perfil<span class="glyphicon glyphicon-sort"></span></div>
            <div class="col-xs-2 col-sm-2 col-md-2" ng-click="orderByPropiedad='expect_contractual'">Expct. cont.<span class="glyphicon glyphicon-sort"></span></div>
            <div class="col-xs-2 col-sm-2 col-md-2" ng-click="orderByPropiedad='expect_economica'">Expct. eco.<span class="glyphicon glyphicon-sort"></span></div>
            <div class="col-xs-2 col-sm-2 col-md-2">Acción</div>
        </div>
        <div class="row" ng-repeat="candidato in $ctrl.candidatosFiltrados | filter:busqueda | orderBy:orderByPropiedad |  limitTo:$ctrl.maxSize:($ctrl.currentPage-1)*$ctrl.maxSize">
            <div class="col-xs-2 col-sm-2 col-md-2">{{candidato.nombre}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2">{{candidato.provincia}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2">{{candidato.perfil}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2">{{candidato.expect_contractual}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2">{{candidato.expect_economica}}</div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="btn-group" uib-dropdown>
                    <button id="split-button" type="button" class="btn btn-primary">Ver</button>
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a href="#">Ver</a></li>
                        <li role="menuitem"><a href="#">Editar</a></li>
                        <li role="menuitem"><a href="#">Editar estado</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Eliminar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
    </div>

</div>
