<div class="container-fluid">
    <h1 class="h1">Lista de Candidatos</h1>
    <div class="row form-group">
        <div class="col-sm-offset-6 col-sm-6">
            <input class="form-control" type="text" placeholder="Buscar" ng-model="$ctrl.busqueda" ng-change="$ctrl.actualizarArray()">
        </div>
    </div>
    <table class="table table-responsive table-striped">
      <thead class="thead-inverse">
        <tr ng-init="$ctrl.orderByPropiedad=''; $ctrl.cabeceras=['nombre','provincia', 'perfil','expect_contractual', 'expect_economica']">
          <th ng-repeat = "cabecera in $ctrl.cabeceras" class="col-xs-2 col-sm-2 col-md-2" ng-click="$ctrl.orderByPropiedad == cabecera ? $ctrl.orderReverse = !$ctrl.orderReverse : $ctrl.orderReverse = false; $ctrl.reverse=$ctrl.orderReverse ? '-':''; $ctrl.orderByPropiedad=cabecera">
            <span>{{cabecera.split('_').join(' ')}}</span>
            <span class="glyphicon" ng-class="$ctrl.orderByPropiedad != cabecera ? 'glyphicon-sort' : ($ctrl.orderReverse ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes')"></span>
          </th>
          <th>acción</th>
        </tr>
        <tbody>
            <tr ng-repeat="candidato in $ctrl.candidatosFiltrados | filter:busqueda | orderBy:($ctrl.reverse + $ctrl.orderByPropiedad) | limitTo:$ctrl.maxSize:($ctrl.currentPage-1)*$ctrl.maxSize">
                <td scope="row"
                ng-if ="fila !== 'expect_economica'"
                ng-repeat="fila in $ctrl.cabeceras">{{candidato[fila]}}</td>
                <td scope="row"
                ng-if ="fila === 'expect_economica'"
                ng-repeat="fila in $ctrl.cabeceras">{{candidato[fila] | currency:'€'}}</td>
                <td>
                    <div class="btn-group" uib-dropdown>
                        <button id="split-button" type="button" class="btn btn-primary">Ver</button>
                        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <li role="menuitem"><a href="#">Ver</a></li>
                            <li role="menuitem"><a href="#">Editar</a></li>
                            <li role="menuitem"><a href="#">Editar estado</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
      </thead>
    </table>
    <div class="pagination">
        <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
    </div>
</div>
